<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <title>Document</title>
</head>
<body>

    {{>header}}



    {{name}}
  

    <form id="form" method="POST">
    <label for="name"></label>
    <input type="text" id="name">
    <label for="lastName"></label>
    <input type="text" id="lastName">
    <input type="submit" value="Send">
    </form>

    {{>footer}}

<script src="js/tester.js"></script>
</body>
</html>